<div ng-if="hideDeleteTab">
  <h2 class="modal-header">Manage Link:</h2>
  <div class="modal-body row">
    <div class="form-group row col-md-12" show-errors>
      <label for="subconName">Type:</label>
      <input name="subconName" ng-model="link.type" id="subconName" class="form-control">
    </div>
    <div class="form-group row col-md-12" show-errors>
      <label for="subconName">Name:</label>
      <input name="subconName" ng-model="link.name" id="subconName" class="form-control">
    </div>
    <div class="form-group row col-md-12" show-errors>
      <label for="subconLink">Link:</label>
      <input name="subconLink" ng-model="link.url" id="subconLink" class="form-control">
    </div>
    <div class="form-group row col-md-12" show-errors>
      <label for="subconNumber">Phone Number:</label>
      <input name="subconNumber" ng-model="link.phoneNumber" id="subconNumber" class="form-control">
    </div>
    <div class="form-group row col-md-12" show-errors>
      <label for="subconPhoto">Photo Url:</label>
      <input name="subconPhoto" ng-model="link.photo" id="subconPhoto" class="form-control">
    </div>
  </div>

  <div ng-if="hideDeleteTab" class="modal-footer" style="text-align: left">
    <button class="btn btn-success" ng-click="submit()">Save Changes</button>
    <button class = "btn btn-danger" ng-click="showDeleteTabFunc()">Delete Link</button>
    <button class="btn btn-default" ng-click="cancel()" style="float: right">Cancel</button>
  </div>

</div>

<div ng-if="!hideDeleteTab">
  <h2 class = "modal-header text-center">
    Are you sure you want to delete {{link.name}}?
  </h2>
  <div class = "modal-body row">
    <container>
      <div class = "col-md-6">
        <button class = "btn btn-block btn-danger" ng-click="hideDeleteTabFunc()">No</button>
      </div>
      <div class = "col-md-6">
        <button class = "btn btn-block btn-success" ng-click="deleteLink()">Yes</button>
      </div>
    </container>
  </div>
</div>
