<div>
  <tabset justified="true">
    <tab heading="Manage User">
      <h2 class="page-header">Client information:</h2>
      <container>
        <form class = "form" name="form" ng-submit="submit(username, email, phoneNumber)" novalidate>
          <div class="form-group">
            <label for="username">Client name</label>
            <input type="text" class="form-control" name="username" ng-model="username" placeholder={{username}}>
          </div>
          <div class="form-group">
            <label for="email">Client email</label>
            <input type="text" class="form-control" name="email" ng-model="email" placeholder={{email}}>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Client phone number</label>
            <input type="text" class="form-control" name="phoneNumber" ng-model="phoneNumber" placeholder={{phoneNumber}}>
          </div>
          <div>
            <button type="submit" id="submit" class="btn btn-default">Save Changes</button>
          </div>
        </form>

        <!-- <button type="button" class="btn btn-md btn-default" ng-click=mc.openModal(user)>Manage</button> -->
      </container>
    </tab>

    <tab heading="Manage Events" ng-init="getEvents()">
      <h2 class="page-header">Client events:</h2>
      <button class="btn btn-lg btn-block btn-success" ng-click="createEvent()">Create Event</button>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Venue</th>
          <th>Budget</th>
        </tr>
	<tr ng-repeat="event in events">
	  <td>{{event.name}}</td>
	  <td>{{event.venue}}</td>
	  <td>{{event.date}}</td>
	</tr>
      </table>
    </tab>
  </tabset>
</div>
