<div>
  <tabset justified="true">
    <tab heading="Manage User">
      <h2 class="page-header">Client information:</h2>
      <container>
        <form class = "form" name="form" ng-submit="submit()" novalidate>
          <div class="form-group">
            <label for="clientName">Client name</label>
            <input type="text" class="form-control" ng-model="username" id="clientName" value={{username}}>
          </div>
          <div class="form-group">
            <label for="clientEmail">Client email</label>
            <input type="text" class="form-control" ng-model="email" id="clientEmail" value={{email}}>
          </div>
          <div class="form-group">
            <label for="clientPhone">Client phone number</label>
            <input type="text" class="form-control" ng-model="phoneNumber" id="clientPhone" value={{phoneNumber}}>
          </div>
          <div>
            <button type="submit" id="submit" class="btn btn-default" ng-click="submit()">Save Changes</button>
          </div>
        </form>

        <!-- <button type="button" class="btn btn-md btn-default" ng-click=mc.openModal(user)>Manage</button> -->
    </container>

    </tab>
    <tab heading="Manage Events">
      <h2 class="page-header">Client events:</h2>
      <button class="btn btn-lg btn-block btn-success">Create Event</button>
      <table class="table table-hover">
        <tr>
          <td>Name</td>
          <td>Venue</td>
          <td>Budget</td>
        </tr>
      </table>
    </tab>
  </tabset>
</div>
