<div>
  <tabset justified="true">
    <tab heading="Manage User">
      <h2 class="page-header">Client information:</h2>
      <container>
        <form>
          <div class="form-group">
            <label for="clientName">Client name</label>
            <input type="text" class="form-control" id="clientName" value={{username}}>
          </div>
          <div class="form-group">
            <label for="clientEmail">Client email</label>
            <input type="text" class="form-control" id="clientEmail" value={{email}}>
          </div>
          <div class="form-group">
            <label for="clientPhone">Client phone number</label>
            <input type="text" class="form-control" id="clientPhone" value={{phoneNumber}}>
          </div>
        </form>
        <button class="btn btn-default">Save Changes</button>
    </container>

    </tab>
    <tab heading="Manage Events">
      <p>In the Manage Events Tab!</p>
    </tab>
  </tabset>
</div>
