<div id="manageEventModal" ng-click="resetPicker()">
  <tabset justified="true">
    <tab heading="Basic Info" ng-if="hideDeleteTab">
      <h2 class="modal-header">Event information:</h2>
      <div class="modal-body">
        <div class = "">
          <form name="form">
            <!-- Div to input the event name -->
            <div class="form-group row col-md-12" show-errors>
              <label for="eventName">Event Name:</label>
              <input name="eventName" type="eventName" ng-model="event.name" id="eventName" class="form-control" required>
            </div>

            <!-- Div to input the date -->
            <div id="dateTime" class="form-group row col-md-12" show-errors>
              <div class = "col-md-6" style="padding-left: 0px;">
                <label for="dateOfEvent">Date:</label>
                <div class = "input-group">
                  <input type="text" class="form-control" id="dateOfEvent" datepicker-popup="fullDate" ng-model="event.date" is-open="datePicker.opened" picker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>

              <!-- Div to input time for date -->
              <div class = "col-md-5 col-md-offset-1" show errors>
                <timepicker ng-model="event.date" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
              </div>
            </div>

            <!-- Div to input then venue  -->
            <div class="form-group row col-md-12" show-errors>
              <label for="venue">Venue:</label>
              <input name="venue" type="venue" ng-model="event.location" id="venue" class="form-control" required>
            </div>

            <!-- Div to input the goal budget -->
            <div class="form-group row col-md-12" show-errors>
              <label for="budgetGoal">Budget Goal:</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" min="0" ng-model="event.budgetGoal" name="budgetGoal" class="form-control" id="exampleInputAmount" ng-change="budgetCheck()">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" ng-if="hideDeleteTab" style="border-top: 0px;">
        <div class="col-md-12" style="padding-left:0px; padding-top:35px; text-align:left;">
          <button class="btn btn-success"  ng-click="submit()">Save Changes</button>
          <button class = "btn btn-danger" ng-click="showDeleteTabFunc()">Delete Event</button>
	  <button class="btn btn-default" ng-click="cancel()" style="float: right">Cancel</button>
        </div>
      </div>
    </tab>

    <tab heading="Schedule" ng-if="hideDeleteTab">
      <h2 class="modal-header">Schedule:</h2>
      <div class="modal-body">
        <form class="row" name="$parent.hello">
          <div id="budget" class="col-md-12">
            <label for="todoInput">Item:</label>
            <input type="text" name="todoInput" ng-model="todoInput" class="form-control">
          </div>
          <div class="form-group row col-md-12" show-errors>
            <div class = "col-md-6">
              <label for="dateOfEvent">Date:</label>
              <div class = "input-group">
                <input type="text" class="form-control" id="eventDate" datepicker-popup="fullDate" ng-model="newDueDate" is-open="datePicker.scheduleDateOpened" picker-options="dateOptions" close-text="Close">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="scheduleDateOpen($event)"><i id="todoCal" class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class ="col-md-3" style="margin-left: 5px;" show errors>
              <timepicker ng-model="newDueDate" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
            </div>
            <div class="col-md-1 col-md-offset-1">
              <label for="button">&zwnj;</label>
              <button type="submit" class="btn btn-success" id="addTodo" ng-click="addToDo(todoInput,newDueDate) ? todoInput = newDueDate = null : null">+</button>
            </div>
          </div>
        </form>

        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.toDoList)">
            <thead>
              <tr>
                <th><b>Task</b></th>
                <th><b>Date due:</b></th>
                <th><b>Done:</b></th>
                <th style="text-align:right"></th>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.toDoList">
              <tr>
                <td>{{item.todo}}</td>
                <td>{{item.by | date:'fullDate'}}</td>
                <td><span ng-class="(item.done) ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'" ng-click="changeDone($index)"></span></td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteToDo($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="modal-footer" ng-if="hideDeleteTab">
        <div style="text-align:left">
          <button class="btn btn-success"  ng-click="submit()">Save Changes</button>
          <button class = "btn btn-danger" ng-click="showDeleteTabFunc()">Delete Event</button>
	  <button class="btn btn-default" ng-click="cancel()" style="float: right">Cancel</button>
        </div>
      </div>
    </tab>

    <tab heading="Budget" ng-if="hideDeleteTab">
      <h2 class="modal-header">Event Budget:</h2>
      <h4 style="text-align:center">Cost: {{currentCost}} Goal: {{event.budgetGoal}}</h4>
      <div class="modal-body">
        <div class="alert alert-warning" ng-show="errorMessege">
          <strong>Warning!</strong> The current cost exceeds the budget goal.
        </div>
        <form class="row" name="forms">
          <div id="budget" class="col-md-7">
            <label for="budgetItem">Item:</label>
            <input type="text" name="budgetItem" ng-model="budgetItem" ng-style="addItemStyle" class="form-control">
          </div>
          <div id="budget" class="col-md-4">
            <label for="amount">Cost:</label>
            <input type="number" name="itemCost" ng-model="itemCost" ng-style="addItemStyle" class="form-control">
          </div>
          <div class="col-md-1">
            <label for="button">&zwnj;</label>
            <button class="btn btn-success" id="addItem" ng-click="addBudget(budgetItem, itemCost) ? budgetItem=itemCost=null : null">+</button>
          </div>
        </form>

        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.budget)">
            <thead>
              <tr>
                <th><b>Expenditure</b></th>
                <th><b>Price</b></th>
                <th style="text-align:right"></th>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.budget" ng-if="$index > 0">
              <tr>
                <td>{{item.title}}</td>
                <td>{{item.amount}}</td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteBudget($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="modal-footer" ng-if="hideDeleteTab">
        <div style="text-align:left">
          <button class="btn btn-success"  ng-click="submit()">Save Changes</button>
          <button class = "btn btn-danger" ng-click="showDeleteTabFunc()">Delete Event</button>
	  <button class="btn btn-default" ng-click="cancel()" style="float: right">Cancel</button>
        </div>
      </div>
    </tab>

    <tab heading="Subcontractors" ng-if="hideDeleteTab" ng-init="getContractors();getEventSubcons()">
      <h2 class="modal-header">Event Subcontractors:</h2>
      <div class="modal-body">
        <form class="row" name="formssss">
          <div class="col-md-11">
            <label for="addSubcon">Add Subcontractor:</label>
            <select type="select" class="form-control" ng-model="addSubcon" ng-options="subcontractor as subcontractor.name for subcontractor in subcontractors | orderBy: 'name'"></select>
          </div>
          <div class="col-md-1">
            <label for="button">&zwnj;</label>
            <button type="submit" class="btn btn-success" ng-click="addSubcontractor(addSubcon) ? addSubcon = null : null">+</button>
          </div>
        </form>
        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.subcons)">
            <thead>
              <tr>
                <th><b>Name</b></th>
                <th><b>Link</b></th>
                <th style="text-align:right"></th>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.subcons">
              <tr>
                <td>{{item.name}}</td>
                <td><a ng-href="{{item.link | url}}" target="_blank">{{item.link}}</a></td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteSubcon($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="modal-footer" ng-if="hideDeleteTab">
        <div style="text-align:left">
          <button class="btn btn-success"  ng-click="submit()">Save Changes</button>
          <button class = "btn btn-danger" ng-click="showDeleteTabFunc()">Delete Event</button>
	  <button class="btn btn-default" ng-click="cancel()" style="float: right">Cancel</button>
        </div>
      </div>
    </tab>
    <tab heading="Guests" ng-if="hideDeleteTab">
      <h2 class="modal-header">Guest List:</h2>
      <div class="modal-body">
        <form class="row" name="formssss">
          <div id="budget" class="col-md-7">
            <label for="guestName">Name:</label>
            <input type="text" name="guestName" ng-model="guestName" class="form-control">
          </div>
          <div id="budget" class="col-md-5">
            <label for="guestPhone">Phone Number:</label>
            <input type="number" name="guestPhone" ng-model="guestPhone" class="form-control">
          </div>
          <div id="budget" class="col-md-8">
            <label for="guestEmail">Email:</label>
            <input type="email" name="guestEmail" ng-model="guestEmail" class="form-control">
          </div>
          <div id="budget" class="col-md-3">
            <label for="todoInput">Party Size:</label>
            <input type="number" name="guestSize" ng-model="guestSize" class="form-control">
          </div>
          <div class="col-md-1">
            <label for="button">&zwnj;</label>
            <button class="btn btn-success" id="addGuest" ng-click="addGuest(guestName,guestEmail,guestPhone,guestSize) ? guestName=guestEmail=guestPhone=guestSize=null : null">+</button>
          </div>
        </form>

        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.guests)" style="word-wrap: break-word">
            <thead>
              <tr>
                <th><b>Name</b></th>
                <th><b>Email</b></th>
                <th><b>Phone Number</b></th>
                <th><b>Party Size</b></th>
                <th><b>Accepted</b></th>
                <th style="text-align:right"></th>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.guests">
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.partySize}}</td>
                <td><span ng-class="(item.accepted) ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'" ng-click="changeAccepted($index)"></span></td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteGuest($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <div class="modal-footer" ng-if="hideDeleteTab">
        <div style="text-align:left">
          <button class="btn btn-success"  ng-click="submit()">Save Changes</button>
          <button class = "btn btn-danger" ng-click="showDeleteTabFunc()">Delete Event</button>
	  <button class="btn btn-default" ng-click="cancel()" style="float: right">Cancel</button>
        </div>
      </div>
    </tab>

    <div ng-if="!hideDeleteTab">
      <h2 class = "modal-header text-center">
        Are you sure you want to delete {{event.name}} for {{event.userName}}?
      </h2>
      <div class = "modal-body row">
        <container>
          <div class = "col-md-6">
            <button class = "btn btn-block btn-danger" ng-click="hideDeleteTabFunc()">No</button>
          </div>
          <div class = "col-md-6">
            <button class = "btn btn-block btn-success" ng-click="deleteEvent()">Yes</button>
          </div>
        </container>
      </div>
    </div>

  </tabset>

  <!-- WHERE FOOTER USED TO BE -->
</div>
