<div ng-click="resetPicker()">
  <tabset justified="true">
    <tab heading="Basic Info">
      <h2 class="modal-header">Client information:</h2>
      <div class="modal-body">
        <form class="row" name="form">

          <!-- Div to input the event name -->
          <div class="form-group row col-md-12" show-errors>
            <label for="eventName">Event Name:</label>
            <input name="eventName" type="eventName" ng-model="event.name" id="eventName" class="form-control" required>
          </div>

          <!-- Div to input the date -->
          <div class="form-group row col-md-12" show-errors>
            <label for="dateOfEvent">Date:</label>
            <div class = "input-group">
              <input type="text" class="form-control" id="dateOfEvent" datepicker-popup="fullDate" ng-model="event.date" is-open="datePicker.opened" picker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>

          <!-- Div to input then venue  -->
          <div class="form-group row col-md-12" show-errors>
            <label for="venue">Venue:</label>
            <input name="venue" type="venue" ng-model="event.location" id="venue" class="form-control" required>
          </div>

          <!-- Div to input the goal budget -->
          <div class="form-group row col-md-12" show-errors>
            <label for="budgetGoal">BudgetGoal:</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" min="0" ng-model="event.budgetGoal" name="budgetGoal" class="form-control" id="exampleInputAmount">
            </div>
          </div>
        </form>
      </div>
    </tab>

    <tab heading="Schedule">
      <h2 class="modal-header">Schedule:</h2>
      <div class="modal-body">
        <form class="row" name="$parent.hello">
          <div id="budget" class="col-md-7">
            <label for="todoInput">Item:</label>
            <input type="text" name="todoInput" ng-model="todoInput" class="form-control">
          </div>
          <div class="form-group row col-md-4" show-errors>
            <label for="dateOfEvent">Date:</label>
            <div class = "input-group">
              <input type="text" class="form-control" id="eventDate" datepicker-popup="fullDate" ng-model="newDueDate" is-open="datePicker.scheduleDateOpened" picker-options="dateOptions" close-text="Close">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="scheduleDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="col-md-1">
            <label for="button">&zwnj;</label>
            <button type="submit" class="btn btn-success" ng-click="addToDo(todoInput,newDueDate) ? todoInput = newDueDate = null : null">+</button>
          </div>
        </form>

        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.toDoList)">
            <thead>
              <tr>
                <th><b>Task</b></td>
                <th><b>Date due:</b></td>
                <th style="text-align:right"></td>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.toDoList">
              <tr>
                <td>{{item.todo}}</td>
                <td>{{item.by | date:'fullDate'}}</td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteToDo($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </tab>

    <tab heading="Budget">
      <h2 class="modal-header">Event Budget:</h2>
      <h4 style="text-align:center">Cost: {{currentCost}} Goal: {{event.budgetGoal}}</h4>
      <div class="modal-body">
        <form class="row" name="forms">
          <div id="budget" class="col-md-7">
            <label for="budgetItem">Item:</label>
            <input type="text" name="budgetItem" ng-model="budgetItem" class="form-control">
          </div>
          <div id="budget" class="col-md-4">
            <label for="amount">Cost:</label>
            <input type="number" name="itemCost" ng-model="itemCost" class="form-control">
          </div>
          <div class="col-md-1">
            <label for="button">&zwnj;</label>
            <button class="btn btn-success" ng-click="addBudget(budgetItem, itemCost) ? budgetItem=itemCost=null : null">+</button>
          </div>
        </form>

        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.budget)">
            <thead>
              <tr>
                <th><b>Expenditure</b></td>
                <th><b>Price</b></td>
                <th style="text-align:right"></td>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.budget">
              <tr>
                <td>{{item.title}}</td>
                <td>{{item.amount}}</td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteBudget($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </tab>
    <tab heading="Subcontractors" ng-init="getContractors();getEventSubcons()">
      <h2 class="modal-header">Event Subcontractors:</h2>
      <div class="modal-body">
        <form class="row" name="formssss">
          <div class="col-md-11">
            <label for="addSubcon">Add Subcontractor:</label>
            <select type="select" class="form-control" ng-model="addSubcon" ng-options="subcontractor as subcontractor.name for subcontractor in subcontractors | orderBy: 'name'"></select>
          </div>
          <div class="col-md-1">
            <label for="button">&zwnj;</label>
            <button type="submit" class="btn btn-success" ng-click="addSubcontractor(addSubcon) ? addSubcon = null : null">+</button>
          </div>
        </form>
        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.subcons)">
            <thead>
              <tr>
                <th><b>Name</b></td>
                <th><b>Link</b></td>
                <th style="text-align:right"></td>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.subcons">
              <tr>
                <td>{{item.name}}</td>
                <td><a ng-href="{{item.link | url}}" target="_blank">{{item.link}}</a></td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteSubcon($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </tab>
    <tab heading="Guests">
      <h2 class="modal-header">Guest List:</h2>
      <div class="modal-body">
        <form class="row" name="formssss">
          <div id="budget" class="col-md-7">
            <label for="guestName">Name:</label>
            <input type="text" name="guestName" ng-model="guestName" class="form-control">
          </div>
          <div id="budget" class="col-md-5">
            <label for="guestPhone">Phone Number:</label>
            <input type="number" name="guestPhone" ng-model="guestPhone" class="form-control">
          </div>
          <div id="budget" class="col-md-8">
            <label for="guestEmail">Email:</label>
            <input type="email" name="guestEmail" ng-model="guestEmail" class="form-control">
          </div>
          <div id="budget" class="col-md-3">
            <label for="todoInput">Party Size:</label>
            <input type="number" name="guestSize" ng-model="guestSize" class="form-control">
          </div>
          <div class="col-md-1">
            <label for="button">&zwnj;</label>
            <button class="btn btn-success" ng-click="addGuest(guestName,guestEmail,guestPhone,guestSize) ? guestName=guestEmail=guestPhone=guestSize=null : null">+</button>
          </div>
        </form>

        <div class="row">
          <table class = "col-md-12 table table-hover" ng-show="hasItems(event.guests)">
            <thead>
              <tr>
                <th><b>Name</b></td>
                <th><b>Email</b></td>
                <th><b>Phone Number</b></td>
                <th><b>Party Size</b></td>
                <th style="text-align:right"></td>
              </tr>
            </thead>

            <tbody ng-repeat ="item in event.guests">
              <tr>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.partySize}}</td>
                <td style="text-align:right"><button type="button" class="btn btn-danger" ng-click="deleteGuest($index)">Remove</button></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </tab>
  </tabset>
  <div class="modal-footer" style="text-align:center">
    <button class="btn btn-default" ng-click="submit()">Save Changes</button>
  </div>
</div>
