strong, b {
	font-weight: 600;
}

img {
	max-width: 100%;
	height: auto;
}

ul, ol {
	list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}


i {
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0;
	color: #444;
}

h1 {
    font-size: 24px;
	line-height: 30px;
}

h2 {
    font-size: 22px;
	line-height: 28px;
}

h3 {
    font-size: 18px;
	line-height: 24px;
}

h4 {
    font-size: 16px;
	line-height: 22px;
}

h5 {
    font-size: 14px;
	line-height: 20px;
}

h6 {
    font-size: 12px;
	line-height: 18px;
}

p {
    color: #666;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    margin: 0;
}

p strong {
	font-weight: 600;
}

.accent-color-bg {
	color: #fff;
}

.fittext {
	font-size: 38px;
	font-weight: 300;
	line-height: 1.6em;
    margin-bottom: 35px;
	color: rgba(0,0,0, 0.8);
}

.fittext strong {
	font-weight: 700;
}

.page-content p {
	margin-bottom: 15px;
}

.wite-text {
	color: #fff;
}

.uppercase {
	text-transform: uppercase;
}

#content {
	padding: 60px 0;
}

#content.full-sections {
	padding: 0;
}

.project {
    padding-top: 30px;
}

.project-page {
	margin-bottom: 50px;
}

.project-content h4 {
	margin-bottom: 12px;
	padding-bottom: 8px;
	border-bottom: 1px solid pink;
}

.project-content h4 span {
	padding-bottom: 8px;
	border-bottom: 1px solid pink;
}

.project-content p, .project-content ul {
	margin-bottom: 30px;
}

.project-content ul li {
	margin-bottom: 5px;
}
