<div ng-init="getSubcontractors()">
  <h1 class="page-header">Manage existing clients.</h1>

  <table class="table table-hover">
      <tr>
        <td>Name</td>
        <td>Link</td>
        <td></td>
      </tr>

      <tr ng-repeat="subcontractor in subcontractors">
          <td>{{subcontractor.name}}</td>
          <td><a ng-href="{{subcontractor.link|url}}" target="_blank">{{subcontractor.link}}</a></td>
          <td><button type="button" class="btn btn-md btn-default" ng-click="remove(subcontractor._id)">Manage</button></td>
      </tr>
  </table>
</div>