<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="margin-top: -6px"><img src="../assets/images/EELogoIMG.png" height="40" width="40"></a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main" role="navigation">
      <ul class="nav navbar-nav">
        <span ng-repeat-start="item in nav.menu"></span>
        <li ng-if="item.hasDropDown" dropdown ui-sref-active="active">
            <a  dropdown-toggle href="#" class="navBarButton">{{item.title}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ng-repeat="subItem in $parent.item.sublinks">
                <a ui-sref="{{subItem.state}}" ng-click="nav.isCollapsed = false">{{subItem.title}}</a>
              </li>
            </ul>
        </li>
        <li ng-if="!item.hasDropDown" ui-sref-active="active">
          <a ui-sref="{{item.state}}" class="navBarButton" ng-click="nav.isCollapsed = false">{{item.title}}</a>
        </li>
        <span ng-repeat-end></span>
        <li ng-if="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin.createAccount" class="navBarButton" id="Admin" ng-click="nav.isCollapsed = false">Admin</a></li>
        <li ng-if="nav.isLoggedIn() && !nav.isAdmin()" ui-sref-active="active"><a ng-click="nav.isCollapsed = false; nav.navigate()" ui-sref="customer">Manage</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login" id="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
	<li>
	  <span>
            <a target="_tab" href="https://www.facebook.com/Essence-Events-116220178400183/" class="fa fa-facebook-official fa-2x"></a>
            <a target="_tab" href="https://pinterest.com/ermasams/" class="fa fa-pinterest-square fa-2x"></a>
            <a target="_tab" href="https://www.instagram.com/essenceevent/" class="fa fa-instagram fa-2x"></a>
            <a target="_tab" href="https://www.linkedin.com/in/erma-sams-80720611?authType=NAME_SEARCH&authToken=Pf-r&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A39326983%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1457817291507%2Ctas%3Aerma%20sams" class="fa fa-linkedin-square fa-2x"></a>
	  </span>
	</li>
      </ul>
    </div>
  </div>
</div>
