<div class="container" ng-controller="LinksCtrl" ng-init="getLinks()">
  <div ng-repeat="categories in processedLinks">
    <h2 class="text-center" style="padding-bottom: 15px;">{{categories.type}}</h2>
    <div class="container">

      <table class = "table borderless" align="center" style="padding-bottom: 15px;">
        <tr ng-repeat="link in categories.links">
          <td><img ng-src="{{link.photo}}" height="50" width="50"></img></td>
          <td><a ng-href="{{link.url|url}}" target="_blank">{{link.url}}</a></td>
          <td><b>{{link.name}}</b></td>
          <td><b>{{link.phoneNumber || '----'}}</b></td>
        </tr>
      </table>
    </div>
  </div>
</div>
