<div class="container" ng-controller="LinksCtrl" ng-init="getLinks()">
  <div ng-repeat="type in types | orderBy: 'toString()'">
    <h2 class="text-center">{{type.toUpperCase()}}</h2>
    <div class="row" ng-repeat="link in links | orderBy: 'name'" ng-show="link.type.toLowerCase() == type.toLowerCase()">
      <p class="col-md-3">
        <a target="_target" href="{{link.url}}">
          <img ng-src="{{link.photo}}" class="linkImg">
        </a>
      </p>
      <p class="col-md-6 text-center">
        {{link.name}}<br />
        <a class="linkUrl" target="_target" ng-href="{{link.url | url}}">{{link.url | url}}</a><br />
        {{link.phoneNumber | phone}}<br />
        <br />
      </p>
    </div>
  </div>
  <div ng-if="other">
    <h2 class="text-center">OTHER</h2>
    <div class="row" ng-repeat="link in links | orderBy: 'name'" ng-show="!link.type">
      <p class="col-md-3">
        <a target="_target" href="{{link.url}}">
          <img ng-src="{{link.photo}}" class="linkImg">
        </a>
      </p>
      <p class="col-md-6 text-center">
        {{link.name}}<br />
        <a class="linkUrl" target="_target" ng-href="{{link.url | url}}">{{link.url | url}}</a>
        <br />
        {{link.phoneNumber | phone}}<br />
        <br />
      </p>
    </div>
  </div>
</div>
