  <h1 class="page-header">Manage existing clients</h1>

  <table class="table table-hover">
      <thead>
        <tr>
          <td><b>Name</b></td>
          <td><b>Phone Number</b></td>
          <td><b>Email</b></td>
          <td></td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="user in mc.alldata">
            <td>{{user.name}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.email}}</td>
            <td><button type="button" class="btn btn-md btn-default" ng-click=mc.openModal(user)>Manage</button></td>
        </tr>
      </tbody>
  </table>
