<h1>Manage existing clients.</h1>

<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Phone Number'" filter="{ age: 'number'}" sortable="'age'">
            {{user.age}}</td>
        <td title="'Email'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Manage'" filter="{ age: 'number'}">
            </td>
    </tr>
</table>
