<div class="container" ng-init="sort='name'">  
  <h1 class="page-header">Manage existing clients</h1>

  <table class="table table-hover hoverSort">
      <thead>
        <tr>
          <th ng-click="sort='name'"><b>Name</b></td>
          <th ng-click="sort='phoneNumber'"><b>Phone Number</b></td>
          <th ng-click="sort='email'"><b>Email</b></td>
          <th></td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="user in mc.alldata | filter: 'user' | orderBy: sort">
            <td>{{user.name}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.email}}</td>
            <td><button type="button" class="btn btn-md btn-default" ng-click=mc.openModal(user)>Manage</button></td>
        </tr>
      </tbody>
  </table>
</div>
