<div>
  <!-- <div class="row"> -->
  <div class="page-header">
    <h1>Create new event for <i>{{clientName}}</i></h1>
  </div>
  <section>
    <div>
      <form class="form-horizontal novalidate col-md-8" name="form">

        <!-- Div to input the event name -->
        <div class="form-group row col-md-12" show-errors>
          <label for="eventName">Event Name:</label>
          <input name="eventName" type="eventName" ng-model="eventName" id="eventName" class="form-control" required>
        </div>

        <!-- Div to input the date -->
        <div class="form-group row col-md-12" style="margin-bottom: 0px;" show-errors>
          <div class="col-md-6" style="padding-left: 0px;">
            <label for="dateOfEvent">Date:</label>
            <div class = "input-group">
              <input type="text" class="form-control" id="eventDate" datepicker-popup="fullDate" ng-model="eventDate" is-open="eventDateOpened"  datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEventDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class = "col-md-4 col-md-offset-1">
            <timepicker ng-model="eventDate" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
          </div>
        </div>

        <!-- Div to input then venue  -->
        <div class="form-group row col-md-12" show-errors>
          <label for="venue">Venue:</label>
          <input name="venue" type="venue" ng-model="venue" id="venue" class="form-control">
        </div>

        <!-- Div to input the goal budget -->
        <div class="form-group row col-md-12" show-errors>
          <label for="budgetGoal">BudgetGoal:</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" min="0" ng-blur = "updateFreeCash()" ng-model="budgetGoal" ng-style="mybudgetGoalStyle" name="budgetGoal" class="form-control" id="exampleInputAmount" placeholder="Amount">
          </div>
        </div>

        <!-- Budget -->
        <div class="form-group row" show-errors>
          <row>
            <div id ="budget" class="col-md-7">
              <label for="budgetItem">Item:</label>
              <input type="text" ng-model="budgetItem" class="form-control" ng-style="myBudgetStyle" ng-keyup="$event.keyCode == 13 && addBudget()">
            </div>
            <div id ="budget" class="col-md-4">
              <label for="amount">Cost:</label>
              <input type="number" ng-model="itemCost" class="form-control" ng-style="myBudgetStyle" ng-keyup="$event.keyCode == 13 && addBudget()" >
            </div>
            <div class="col-md-1">
              <label for="button">&zwnj;</label>
              <button type="button" class="btn btn-success" ng-click="addBudget()" id="addItem">+</button>
            </div>
          </row>

          <!-- display table of budget -->
          <container>
            <table class = "col-md-12 table table-hover" ng-show="budgetHasItems(budget)">
              <thead>
                <tr>
                  <td><b>Expenditure:</b></td>
                  <td><b>Price:</b></td>
                  <td></td>

                </tr>
              </thead>

              <tbody ng-repeat ="item in budget" ng-if ="$index>0">
                <tr>
                  <td>{{item.title}}</td>
                  <td>{{item.amount}}</td>
                  <td><button type="button" class="btn btn-danger" ng-click="delete(budget, $index)">Remove</button></td>
                </tr>
              </tbody>
            </table>
          </container>
          <nvd3 options="options" data="budget" ng-if="budgetHasItems(budget)"></nvd3>
        </div>

        <!-- To do list -->
        <div class="form-group row" show-errors>
          <row>
            <div id ="todo" class="col-md-4">
              <label for="todo">Task:</label>
              <input type="text" placeholder = "Task" ng-model="todoInput" class="form-control" ng-keyup="$event.keyCode == 13 && addToDo()">
            </div>
            <div id ="date" class="col-md-4">
              <label for="date">Date:</label>
              <div class = "input-group">
                <input type="text" class="form-control" id="date" datepicker-popup="fullDate" ng-model="todoDate" is-open="todoDateOpened"  datepicker-options="dateOptions" close-text="Close" ng-keyup="$event.keyCode == 13 && addToDo()"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="opentodoDate($event)" id="todoDate"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-3">
              <timepicker ng-model="todoDate" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
            </div>
            <div class="col-md-1">
              <label for="button">&zwnj;</label>
              <button type="button" class="btn btn-success" ng-click="addToDo()" id="addTodo">+</button>
            </div>
          </row>

          <!-- display table of todolist -->
          <container>
            <table class = "col-md-12 table table-hover" ng-show="hasItems(thingsToDo)">
              <thead>
                <tr>
                  <td><b>Task</b></td>
                  <td><b>Date</b></td>
                  <td></td>
                </tr>
              </thead>

              <tbody ng-repeat ="item in thingsToDo">
                <tr>
                  <td>{{item.todo}}</td>
                  <td>{{item.by | date:'EEEE, MMMM d, y @h:mm a'}}</td>
                  <td><button type="button" class="btn btn-danger" ng-click="deletethingsToDo(thingsToDo, $index)">Remove</button></td>
                </tr>
              </tbody>

            </table>
          </container>

        </div>


        <!-- Submit button -->
        <div class="form-group row col-md-12">
          <button type="button" class="btn btn-default" ng-click="submit()" ng-disabled="form.$invalid">Submit</button>
        </div>

      </form>
    </div>
  </section>
  <!-- </div> -->
  <hr>
</div>
